body{
  margin: 0;
  padding: 0;
  
}

.wholeTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tableee {
  width: 100%;
  height: 40px;
}


.TabHead {
  height: 40px;
}

.tabell {
  background-color: rgb(243, 243, 243);
}

.Series {
  width: 10%;
}

.Date {
  width: 20%;
}

.Attendance {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eff {
  width: 14%;
}

.Break {
  width: 14%;
}

.Gross {
  width: 14%;
}

.inOutTimes {
  height: 80%;
  width: 100%;
  background-color: #80808030;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.Line {
  font-size: 12px;
  color: grey;
  align-items: center;
}

.POpup {
  background-color: white;
  height: 100%;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.time {
  position: absolute;
  height: 16px;
  background: #6172f3;
  border-radius: 1px;
}

.sessionTimes {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.inTime {
  width: 50%;
  display: flex;
  justify-content: start;
}

.outTime {
  width: 50%;
  display: flex;
  justify-content: start;
}

.Green {
  color: green;
  padding: 0px 5px;
}

.Red {
  color: red;
  padding: 0px 5px;
}

.MarkBtn{
  font-size: 20px;
  cursor: pointer;
}